# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
# --------------------------------------
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.DS_Store
.idea/

# ---- Section1 start --------------------
section1/.idea/
section1/springsecuritybasic/.mvn/
section1/springsecuritybasic/target/
section1/springsecuritybasic/mvnw
section1/springsecuritybasic/mvnw.cmd
section1/springsecuritybasic/HELP.md
# ---- Section1 end ----------------------

# ---- Section2 start --------------------
section2/.idea/
section2/springsecsection2/.mvn/
section2/springsecsection2/target/
section2/springsecsection2/mvnw
section2/springsecsection2/mvnw.cmd
section2/springsecsection2/HELP.md
# ---- Section2 end ----------------------


